* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif; }

body {
  overflow-y: scroll; }

html {
  min-height: 100vh;
  font-size: 62.5%; }

a {
  text-decoration: none; }
  a > p:hover {
    text-decoration: underline; }

hr {
  width: 100%;
  border-top: 3px solid #d3d3d3;
  margin-bottom: 4%; }

.hide {
  opacity: 0;
  transition: opacity 0.1s linear; }

.show iframe {
  opacity: 1;
  transition: opacity 0.25s linear; }

.pageBkgrd {
  width: 100%;
  min-height: 100vh;
  background-color: #e8e8e8; }

.title {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 5% 0 0 0;
  text-align: center; }
  @media (min-width: 812px) {
    .title {
      text-align: left; } }

.main-padding {
  width: 100%;
  padding: 0 7%; }

.pageLink {
  margin: 1.5% 0;
  font-size: 1.8rem;
  text-transform: capitalize; }

.page-heading {
  font-size: 2.8rem;
  margin: 2% 0;
  text-transform: capitalize; }

.page-description {
  width: 60%;
  font-size: 1.8rem;
  font-weight: 300;
  margin: 2% 0;
  color: #616161; }

.page-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.4rem;
  color: #616161; }
  .page-nav__link {
    color: #616161; }
    .page-nav__link:hover {
      text-decoration: underline; }
  .page-nav__slash {
    margin: 0 5px; }

.page-pagination {
  width: auto;
  height: auto;
  margin: 1% auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  .page-pagination p {
    font-size: 1.6rem;
    margin: 5px; }

.page-timePeriods {
  height: 320px;
  margin-top: 2%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap; }
  .page-timePeriods a {
    color: #616161;
    font-size: 1.6rem; }

.page-splitHr {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .page-splitHr hr {
    width: 40%;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #dcdcdc; }
  .page-splitHr p {
    font-size: 1.2rem;
    margin: 10px 10%; }

nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  background-color: #353535; }
  @media (min-width: 812px) {
    nav {
      padding: 0 7%; } }
  nav a {
    margin: 0 5px;
    padding: 0 5px;
    font-size: 1.4rem;
    white-space: nowrap; }

.navWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.menu {
  display: tablet; }
  @media (min-width: 812px) {
    .menu {
      display: none; } }

.logo {
  height: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e6e6e6; }
  @media (min-width: 812px) {
    .logo {
      margin-right: 10px;
      justify-content: flex-start; } }
  .logo img {
    width: 50px;
    height: 50px;
    max-height: 100%;
    margin-right: 5px; }
  .logo h1 {
    font-size: 1.8rem;
    color: white; }
  .logo a {
    padding: 0;
    margin: 0; }

.tabs {
  height: 100%;
  display: none; }
  @media (min-width: 812px) {
    .tabs {
      display: flex;
      justify-content: center;
      align-items: center; } }
  .tabs a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    .tabs a:after {
      content: '';
      width: 100%;
      height: 4px;
      background-color: transparent;
      position: absolute;
      bottom: 0;
      left: 0; }
  .tabs__child {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .tabs__child a {
      color: #c2c2c2; }
  .tabs__signedIn {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .tabs__signedIn a {
      color: #c2c2c2; }
  .tabs__signedOut {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .tabs__signedOut a {
      color: #616161;
      cursor: not-allowed; }
  .tabs__search {
    border-left: 1px solid #616161; }
  .tabs .active {
    color: white; }
    .tabs .active:after {
      background-color: orange; }
  .tabs .home {
    color: #c2c2c2; }

.auth {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  .auth .logout {
    color: white;
    cursor: pointer; }
  .auth .login {
    color: white; }
    @media (min-width: 812px) {
      .auth .login {
        color: #616161; } }
  .auth .signup {
    display: none;
    color: white; }
    @media (min-width: 812px) {
      .auth .signup {
        display: inline; } }

.banner {
  width: auto;
  height: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-image: url("/assets/images/movielist.jpg");
  background-size: cover;
  position: relative;
  padding: 2%;
  margin: 0 -8.14% 2% -8.14%; }
  @media (min-width: 550px) {
    .banner {
      width: 100%;
      margin: 2% 0 2% 0;
      height: 200px; } }
  @media (min-width: 812px) {
    .banner {
      height: 300px; } }
  .banner:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.83);
    z-index: 1; }
  .banner h1 {
    position: relative;
    text-align: center;
    color: white;
    font-size: 1.8rem;
    font-weight: 300;
    z-index: 2;
    margin-top: 8%; }
    @media (min-width: 550px) {
      .banner h1 {
        font-size: 2.3rem; } }
    @media (min-width: 812px) {
      .banner h1 {
        margin-top: 2%;
        font-size: 3.3rem; } }
  .banner img {
    max-height: 100%; }
  .banner__link {
    z-index: 2;
    font-size: 1.4rem;
    color: #777; }

.banner__small {
  width: auto;
  height: 75px;
  background: #353535;
  flex-direction: row;
  padding: 0 10px;
  justify-content: center;
  margin: 0 -8.14% 2% -8.14%; }
  @media (min-width: 812px) {
    .banner__small {
      margin: 2% 0 2% 0;
      justify-content: space-between;
      background: url("/assets/images/movielist.jpg"); } }
  .banner__small:after {
    display: none; }
    @media (min-width: 812px) {
      .banner__small:after {
        display: block; } }
  .banner__small .profile {
    width: 50%;
    height: 100%;
    padding: 10px 0; }

.profile {
  width: 100%;
  height: 20%;
  display: none;
  position: relative;
  z-index: 2; }
  @media (min-width: 812px) {
    .profile {
      display: flex;
      justify-content: flex-start;
      align-items: center; } }
  .profile__details {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 3px; }
    .profile__details h2:first-of-type {
      color: white;
      font-size: 1.3rem; }
    .profile__details h2:last-of-type {
      color: #c9c9c9;
      font-size: 2.9rem; }
      .profile__details h2:last-of-type span {
        font-size: 1.8rem; }

.btn {
  width: 250px;
  height: 35px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 1.4rem;
  z-index: 2;
  position: relative;
  background: linear-gradient(#ff8d30, #ff6600); }
  .btn:hover {
    background: linear-gradient(#ff6600, #ff6600); }
  .btn img {
    position: absolute;
    left: 10px;
    max-height: 60%; }

.btn__banner {
  margin: 4% 0 1.5% 0; }
  @media (min-width: 550px) {
    .btn__banner {
      margin: 2% 0 1% 0; } }
  .btn__banner span {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }

.btn__smallBanner {
  width: 220px;
  background: transparent;
  border: 1px solid #dcdcdc;
  transition: background 0.1s linear; }
  .btn__smallBanner:hover {
    background: rgba(255, 255, 255, 0.2); }

.btn-pagination {
  width: 75px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: 1px solid black;
  border-radius: 25px;
  font-size: 1.6rem; }
  .btn-pagination__disabled {
    border: 1px solid #7a7a7a;
    color: #7a7a7a;
    cursor: not-allowed; }

.movie .btn {
  width: 100%;
  height: 50%;
  display: none;
  background: transparent;
  opacity: 0;
  border: 1px solid #e8e8e8;
  margin-bottom: 0;
  color: #969696; }
  @media (min-width: 550px) {
    .movie .btn {
      display: flex;
      justify-content: center;
      align-items: center; } }
  .movie .btn:hover {
    border: 1px solid #969696; }
  .movie .btn p {
    align-self: auto;
    color: #969696; }
  .movie .btn__seen--like {
    color: green !important; }
  .movie .btn__seen--dislike {
    color: red !important; }

.btn-loadMore {
  width: 200px;
  height: 55px;
  margin: 2% auto;
  position: relative;
  background: linear-gradient(#b4b4b4, #272727); }
  .btn-loadMore:hover {
    background: linear-gradient(#272727, #272727); }

.container {
  width: 400px;
  height: 550px;
  margin: 2% auto;
  background-color: white;
  padding: 3% 4%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column; }
  .container > * {
    margin: 10px 0; }
  .container__login {
    height: 400px; }
  .container h1 {
    margin-top: 0;
    font-size: 2.5rem; }
  .container .btn {
    width: 100%;
    height: 40px; }
    .container .btn:focus {
      border: 1px solid black; }
    .container .btn__facebook {
      background: #3B5998;
      transition: background .1s linear; }
      .container .btn__facebook:hover {
        background: #344e86; }
  .container form {
    width: 100%; }
    .container form input {
      width: 100%;
      height: 38px;
      border: 1px solid #dcdcdc;
      border-radius: 3px;
      margin: 5px 0;
      padding-left: 5%; }
      .container form input::placeholder {
        color: darkgray;
        opacity: 1; }

.landingGrid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; }

.landingMovie {
  width: 49%;
  margin-bottom: 1%;
  color: black; }
  .landingMovie img {
    max-width: 100%; }
  .landingMovie > * {
    margin: 0.5% 0; }
  .landingMovie:first-child {
    width: 100%; }
    .landingMovie:first-child .landingMovie__desc {
      display: none; }
    @media (min-width: 812px) {
      .landingMovie:first-child {
        width: 49%; }
        .landingMovie:first-child .landingMovie__desc {
          display: inline; } }
  .landingMovie:nth-child(2) {
    width: 32%; }
    .landingMovie:nth-child(2) .landingMovie__desc {
      display: none; }
    @media (min-width: 812px) {
      .landingMovie:nth-child(2) {
        width: 49%; }
        .landingMovie:nth-child(2) .landingMovie__desc {
          display: inline; } }
  .landingMovie:nth-child(n + 2) h1 {
    font-size: 1rem; }
  .landingMovie:nth-child(n + 2) .release {
    display: none; }
  @media (min-width: 550px) {
    .landingMovie:nth-child(n + 2) h1 {
      font-size: 1.4rem; } }
  @media (min-width: 812px) {
    .landingMovie:nth-child(n + 2) .release {
      display: inline; }
    .landingMovie:nth-child(n + 2) h1 {
      font-size: 2rem; } }
  .landingMovie:nth-child(n + 3) {
    width: 32%; }
    .landingMovie:nth-child(n + 3) .landingMovie__desc {
      display: none; }
  .landingMovie:last-child {
    display: none; }
    @media (min-width: 812px) {
      .landingMovie:last-child {
        display: block; } }
  .landingMovie__desc {
    text-decoration: none;
    font-size: 1.2rem; }
    .landingMovie__desc:hover {
      text-decoration: none; }

.attributes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .attributes__name h1:hover {
    text-decoration: underline; }
  .attributes__name p {
    margin: 5px 0;
    color: #505050;
    font-size: 1.3rem; }
  .attributes__match {
    height: 100%;
    align-self: flex-start;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    color: #adadad; }
    .attributes__match p {
      height: 50%;
      font-size: 1rem; }
      .attributes__match p:first-of-type {
        font-size: 2rem; }
      .attributes__match p span {
        margin-right: 2px; }

.movieGrid {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 1fr; }

.movie {
  padding: 4px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  cursor: pointer;
  color: #1f1f1f; }
  @media (min-width: 550px) {
    .movie {
      padding: 10px; } }
  .movie__link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2; }
  @media (min-width: 550px) {
    .movie:hover {
      background-color: white; } }
  @media (min-width: 550px) and (min-width: 550px) {
    .movie:hover .movie__title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; } }
  @media (min-width: 550px) {
      .movie:hover .btn {
        opacity: 1; } }
  .movie:hover:after {
    opacity: 1; }
  .movie:hover .movie__top,
  .movie:hover .movie__top--watchlist,
  .movie:hover .watchlist-text,
  .movie:hover .watchlist-star {
    opacity: 1; }
  .movie:hover .movie__top--check span {
    opacity: 0; }

.movie__top {
  width: calc(100% - 20px);
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 8px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  transition: all 0.2s linear;
  z-index: 4;
  opacity: 0;
  color: white;
  font-size: 1.3rem;
  border-radius: 5px;
  font-family: Segoe UI Symbol; }
  .movie__top--watchlist {
    margin-left: auto;
    transition: all 0.2s linear; }
  .movie__top .watchlist-text {
    opacity: 0; }
  .movie__top .watchlist-star {
    opacity: 0;
    font-size: 1.7rem;
    margin-left: 3px; }
  .movie__top .display {
    opacity: 1; }

.display {
  opacity: 1; }

.movie__poster--wrapper {
  width: 100%;
  height: 0;
  position: relative;
  display: block;
  padding-bottom: 150%;
  overflow: hidden; }

.movie__poster {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-start; }
  .movie__poster img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; }

#movie__watchlist--link {
  display: inline; }

.movie__btm {
  width: 100%;
  height: 60px;
  margin: 5px;
  z-index: 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }
  .movie__btm--watchlist {
    height: 20px; }
  .movie__btm--person {
    height: auto;
    text-align: center; }

.movie__title {
  width: 100%;
  display: inline-block;
  align-self: start;
  font-size: 1.2rem;
  margin-bottom: 5px; }
  @media (min-width: 550px) {
    .movie__title {
      font-size: 1rem; } }
  @media (min-width: 812px) {
    .movie__title {
      width: 170px;
      font-size: 1.4rem;
      font-weight: 700; } }

.row-wrapper {
  margin-bottom: 4%; }

.row {
  width: 100%;
  height: auto;
  margin: 15px 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .row__header {
    font-size: 2rem; }
  .row__categories {
    margin: 0; }
  .row__links {
    font-size: 1.6rem;
    color: #616161;
    margin: 2px 0; }
  .row__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    color: black; }
    @media (min-width: 812px) {
      .row__item {
        width: 32.5%; } }
    .row__item--image {
      width: 100%;
      height: 100%;
      margin-bottom: 6px; }
      .row__item--image img {
        max-width: 100%; }
    .row__item p {
      align-self: start;
      font-size: 1.6rem; }
    .row__item--background {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      border-radius: 3px;
      margin-bottom: 7px; }
  .row__Btmlink {
    color: black;
    font-size: 1.8rem;
    font-weight: bold; }

.categories {
  width: 100%;
  margin-bottom: 4%;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .categories__genres {
    height: 180px;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    text-transform: capitalize; }
  .categories__heading {
    font-size: 2rem;
    margin-bottom: 10px; }
  .categories__column {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column; }
    .categories__column:nth-of-type(2) {
      margin: 0 15px; }

.trailer {
  width: 100%;
  height: 400px;
  position: relative;
  transition: height 0.15s linear;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (min-width: 812px) {
    .trailer {
      margin-top: 25px; } }
  .trailer__grow {
    height: 450px; }
  .trailer__background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    .trailer__background:after {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.8); }
    .trailer__background--noVideo:after {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5); }
  .trailer__play {
    width: auto;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.2rem;
    z-index: 2;
    text-transform: uppercase;
    cursor: pointer; }
    .trailer__play--circle {
      height: 28px;
      width: 28px;
      border-radius: 50%;
      border: 3px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 5px; }
    .trailer__play--triangle {
      height: 0;
      width: 0;
      transform: translateX(15%);
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 10px solid white; }
  .trailer iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .trailer__title {
    width: 100%;
    height: 75px;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-bottom: 15px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }

.seen {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .seen__item {
    width: 25%;
    height: 100%;
    padding: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.3;
    transition: opacity 0.08s linear;
    cursor: pointer; }
    .seen__item:hover {
      opacity: 1; }

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: -1;
  opacity: 0;
  transition: opacity .25s linear, z-index 0.01s linear; }
  .overlay-rateMovie {
    align-items: flex-start;
    padding-top: 4%; }
  .overlay__cancel {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5%;
    right: 5%;
    color: white;
    font-size: 4rem;
    cursor: pointer; }

.overlay-show {
  z-index: 5;
  opacity: 1; }

.popup {
  width: 26%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .popup h1 {
    font-size: 2.8rem;
    font-weight: 300;
    text-align: center;
    color: white; }
  .popup__content {
    width: 98%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px 0 15px 0;
    background-color: white;
    border-radius: 3px;
    text-align: center;
    position: relative; }
    .popup__content--pic {
      width: 100%;
      height: 35%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -35px; }
      .popup__content--pic img {
        max-height: 100%; }
    .popup__content--taste {
      margin: 0 0 10px 0; }
    .popup__content h2 {
      font-size: 4rem;
      color: #dcdcdc; }
      .popup__content h2 span {
        font-size: 1rem; }
    .popup__content h3 {
      text-transform: uppercase; }
    .popup__content .btn {
      width: 75%;
      box-shadow: 0;
      border: 0; }
  .popup a {
    height: auto;
    color: #dcdcdc; }
    .popup a:hover {
      text-decoration: underline; }

.popup-movie {
  width: auto;
  height: 450px;
  background-color: transparent;
  position: relative; }
  .popup-movie__middle {
    width: 50%;
    height: 55px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    font-size: 2.2rem;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 7;
    transition: opacity .1s linear; }
    .popup-movie__middle--like {
      color: green;
      opacity: 1;
      display: flex;
      justify-content: center;
      align-items: center; }
      .popup-movie__middle--like:after {
        content: 'Like'; }
    .popup-movie__middle--dislike {
      color: red;
      opacity: 1;
      display: flex;
      justify-content: center;
      align-items: center; }
      .popup-movie__middle--dislike:after {
        content: 'Dislike'; }
  .popup-movie__poster {
    height: 100%;
    width: auto; }
    .popup-movie__poster:after {
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 6;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent 65%); }
    .popup-movie__poster img {
      max-height: 100%; }
    .popup-movie__poster--title {
      width: 100%;
      text-align: center;
      color: white;
      font-size: 2.4rem;
      position: absolute;
      bottom: 18%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 7;
      opacity: 0; }
  .popup-movie__ratings {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 7; }

.bubble {
  width: 124px;
  height: 124px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 5px solid white;
  position: absolute;
  bottom: 0;
  transition: transform 0.2s cubic-bezier(0.1, -0.63, 0.85, 1.71); }
  .bubble:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: 8;
    background-color: transparent; }
  .bubble img {
    max-height: 50%;
    z-index: 7; }
  .bubble__dislike {
    left: 0;
    background-color: red;
    transform-origin: center left;
    transform: perspective(1px) scale(1) translate(-50%, 50%); }
    .bubble__dislike:hover {
      cursor: pointer;
      transform: perspective(1px) scale(1.1) translate(-50%, 50%); }
    .bubble__dislike:active {
      transform: perspective(1px) scale(0.9) translate(-50%, 50%); }
  .bubble__like {
    right: 0;
    background-color: green;
    transform-origin: center right;
    transform: perspective(1px) scale(1) translate(50%, 50%); }
    .bubble__like:hover {
      cursor: pointer;
      transform: perspective(1px) scale(1.1) translate(50%, 50%); }
    .bubble__like:active {
      transform: perspective(1px) scale(0.9) translate(50%, 50%); }

.bubble-grey {
  background-color: grey;
  transition: background-color 0.2s linear transform 0.2s cubic-bezier(0.1, -0.63, 0.85, 1.71); }

.popup-movie__clear {
  position: absolute;
  bottom: 0;
  left: 50%;
  text-align: center;
  font-size: 2.2rem;
  color: white;
  opacity: 0;
  z-index: 1;
  transform: translateX(-50%);
  cursor: pointer;
  background-color: transparent; }

.displayClear {
  opacity: 1;
  z-index: 7; }

.search-menu {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 10px; }
  .search-menu__item {
    width: 5%;
    height: 100%;
    position: relative;
    margin-top: 0;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    padding: 0 5px;
    text-decoration: none;
    color: #616161; }
  .search-menu .active {
    color: black; }
  .search-menu .active:after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: orange; }

.search {
  width: 100%;
  height: 50px; }
  .search input {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    border: none; }
