.movie {
  padding: 4px;
  position: relative;
  @include flex(space-between, center);
  flex-direction: column;
  background-color: transparent;
  cursor: pointer;
  color: #1f1f1f;
  @include wide-mobile {
    padding: 10px;
  }

  &__link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }

  &:hover {
    @include wide-mobile {
      background-color: white;

      .movie__title {
        @include wide-mobile {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }

      .btn {
        opacity: 1;
      }
    }
  }

  &:hover:after {
    // display: block;
    opacity: 1;
  }

  &:hover {
    .movie__top,
    .movie__top--watchlist,
    .watchlist-text,
    .watchlist-star {
      opacity: 1;
    }

    .movie__top--check span {
      opacity: 0;
    }
  }
}

.movie__top {
  width: calc(100% - 8px);
  height: 60px;
  @include flex(flex-start, flex-start);
  position: absolute;
  top: 4px;
  left: 4px;
  padding: 8px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  transition: all 0.2s linear;
  z-index: 4;
  opacity: 0;
  // opacity: 1;
  color: white;
  font-size: 1.3rem;
  border-radius: 5px;
  font-family: Segoe UI Symbol;
  @include wide-mobile {
    width: calc(100% - 20px);
    top: 10px;
    left: 10px;
  }
  
  

  &--watchlist {
    margin-left: auto;
    transition: all 0.2s linear;
  }

  .watchlist-text {
    opacity: 0;
  }

  .watchlist-star {
    opacity: 0;
    font-size: 1.7rem;
    margin-left: 3px;
  }

  .display {
    opacity: 1;
  }
}

.display {
  opacity: 1;
}

.movie__poster--wrapper {
  width: 100%;
  height: 0;
  position: relative;
  display: block;
  padding-bottom: 150%;
  overflow: hidden;
}

.movie__poster {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 5px;
  @include flex(center, flex-start);

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

#movie__watchlist--link {
  display: inline;
}

.movie__btm {
  width: 100%;
  height: 60px;
  margin: 5px;
  z-index: 3;
  @include flex(flex-start, center);
  flex-direction: column;
  
  &--watchlist {
    height: 20px;
  }
  
  &--person {
    height: auto;
    text-align: center;
  }
}

.movie__title {
  width: 100%;
  display: inline-block;
  align-self: start;
  font-size: 1.2rem;
  margin-bottom: 5px;
  @include wide-mobile {
    font-size: 1.2rem;
  }
  @include tablet {
    width: 170px;
    font-size: 1.4rem;
    font-weight: 700;
  }
}
