$nav-white: hsl(0, 0%, 90%);
$faded: #616161;

@mixin anchor-spacing {
    margin: 0 5px;
    padding: 0 5px;
}

nav {
    width: 100%;
    height: 60px;
    @include flex(space-between,center);
    padding: 0 2%;
    background-color: rgb(53, 53, 53);
    @include tablet {
        padding: 0 7%; 
    }
    
    a {
        @include anchor-spacing;
        font-size: 1.4rem;
        white-space: nowrap;
    }
}

.navWrapper {
    height: 100%;
    width: 100%;
    @include flex(center,center);
}

.menu {
    display: tablet;
    @include tablet {
        display: none;
    }
}

.logo {
    height: 100%;
    padding: 10px 0;
    @include flex(center,center);
    color: $nav-white;
    @include tablet {
        margin-right: 10px;
        justify-content: flex-start;
    }

    img {
      width: 50px;
      height: 50px;
        max-height: 100%;
        margin-right: 5px;
    }

    h1{
        font-size: 1.8rem;
        color: white;
    }
    
    a {
        padding: 0;
        margin: 0;
    }
}

.tabs {
    height: 100%;
    display: none;
    // padding: 10px 0;
    @include tablet {
        @include flex(center, center); 
    }

    a {
      height: 100%;
        @include flex(center,center);
        position: relative;
  

        &:after {
            content: '';
            width: 100%;
            height: 4px;
            background-color: transparent;
            position: absolute;
            bottom: 0;
            left: 0;  
        }
    }

    &__child {
        height: 100%;
        @include flex(center, center);
        a {color: #c2c2c2;}
    }
    
    &__signedIn {
        height: 100%;
        @include flex(center,center);
        a {color: #c2c2c2;}
    }

    &__signedOut {
      height: 100%;
      @include flex(center,center);
        a {
          color: #616161;
          cursor: not-allowed;
        }    
    }

    &__search {
        // height: 100%;
        border-left: 1px solid #616161;
        // a {color: #c2c2c2;}
    }

    .active {
        color: white;

        &:after {
            background-color: orange;
        }
    }
    
    .home {
        color: #c2c2c2;
    }
}

.auth {
    margin-left: auto;
    @include flex(center,center);
    
    .logout {
        color: white;
        cursor: pointer;
    }
    
    .login {
        color: white;
        @include tablet {
            color: $faded;
        }
    }
    
    .signup {
        display: none;
        color: white;
        @include tablet {
            display: inline;
        }
    }

    // a {
    //     &:first-of-type {
    //         color: white;
    //         @include tablet {
    //             color: $faded;
    //         }
    //     }

    //     &:last-of-type {
    //         display: none;
    //         color: white;
    //         @include tablet {
    //             display: inline;
    //         }
    //     }
    // }
}
