.pageBkgrd {
  width: 100%;
  min-height: calc(100vh - #{$footer-height});
  background-color: $page-bkgrd;
  overflow-x: hidden;
}

.title {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin: 5% 0 0 0;
  text-align: center;
  @include tablet {
    font-size: 2rem;
    text-align: left;
    margin: 2% 0 0 0;
  }
}

.main-padding {
  width: 100%;
  padding: 60px 3% 4% 3%;
  @include wide-mobile {
    padding: calc(2% + 60px) 7% 4% 7%;
  }
}

.pageLink {
  width: auto;
  height: 50px;

  &:hover {
    text-decoration: underline;
  }
}

.page-heading {
  font-size: 2.4rem;
  margin: 2% 0;
  text-transform: capitalize;
  letter-spacing: 0;
  @include wide-mobile {
    font-size: 2.8rem;
    letter-spacing: 1px;
  }
}

.page-description {
  width: 80%;
  font-size: 1.8rem;
  font-weight: 300;
  margin: 4% 0;
  color: $faded;

  @include tablet {
    width: 60%;
    margin: 2% 0;
  }
}

.page-nav {
  @include flex(flex-start, center);
  font-size: 1.4rem;
  color: $faded;

  &__link {
    color: $faded;

    &:hover {
      text-decoration: underline;
    }
  }

  &__slash {
    margin: 0 5px;
  }
}

.page-pagination {
  width: auto;
  height: auto;
  margin: 1% auto;
  @include flex(center, center);

  p {
    font-size: 1.6rem;
    margin: 12px;
  }
}

.page-timePeriods {
  height: 320px;
  margin-top: 2%;
  @include flex(flex-start, flex-start);
  flex-direction: column;
  flex-wrap: wrap;

  a {
    color: $faded;
    font-size: 1.6rem;
  }
}

.page-splitHr {
  width: 100%;
  @include flex(center, center);

  hr {
    width: 40%;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid $light-grey;
  }

  p {
    font-size: 1.2rem;
    margin: 10px 10%;
  }
}
