.pageBkgrd {
  width: 100%;
  background-color: $page-bkgrd;
}

.title {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 5% 0 0 0;
  text-align: center;
  @include tablet {
    text-align: left;
  }
}

.main-padding {
  width: 100%;
  padding: 0 7%;
}

.pageLink {
  margin: 1.5% 0;
  font-size: 1.8rem;
}

.page-heading {
  font-size: 2.8rem;
  margin: 2% 0;
}

.page-description {
  width: 60%;
  font-size: 1.8rem;
  font-weight: 300;
  margin: 2% 0;
  color: $faded;
}

.page-nav {
  @include flex(flex-start, center);
  font-size: 1.4rem;
  color: $faded;

  &__link {
    color: $faded;

    &:hover {
      text-decoration: underline;
    }
  }

  &__slash {
    margin: 0 5px;
  }
}
