$wide-mobile-width: 550px;
$tablet-width: 812px;
$desktop-width: 1024px;

$grey: #c9c9c9;
$light-grey: #dcdcdc;
$med-grey: #b4b4b4;
$dark-grey: #272727;
// $faded: #4b4b4b;
$nav-white: hsl(0, 0%, 90%);
$faded: #616161;
$page-bkgrd: #e8e8e8;

//gradient colors
$gradient-top: #ff8d30;
$gradient-bottom: #ff6600;

@mixin wide-mobile {
  @media (min-width: #{$wide-mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin afterOverlay {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;

  & > p:hover {
    text-decoration: underline;
  }
}

hr {
  width: 100%;
  border-top: 3px solid #d3d3d3;
  margin-bottom: 50px;
}

@import "./_pageLayout.scss";
@import "./_navigation.scss";
@import "./_banners.scss";
@import "./_btn.scss";

@import "./_landingGrid.scss";
@import "./_landingMovie.scss";

@import "./_movieGrid.scss";
@import "./_movie.scss";

@import "./_row.scss";
