.movieInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  
  @include tablet {
    flex-direction: row;
  }
  
  &__poster {
    width: 30%;
    img {max-width: 100%;}
    display: none;
    
    @include tablet {
      display: block;
    }
    
    &--mobile {
      display: block;
      width: 25%;
      @include tablet {
        display: none;
      }
      
      img {
        max-width: 100%;
      }
    }
  }
  
  &__details {
    width: 70%;
    padding: 0 3%;
    font-size: 1.8rem;
    display: none;
    
    @include tablet {
      display: block;
    }
    
    & > * {
        margin: 10px 0;
    }
    
    &--desc {
      font-weight: 300;
      font-size: 1.8rem;
      margin-bottom: 2%;
      
      @include tablet {
        font-size: 1.6rem;
        margin-bottom: 0;
      }
    }
  }
  
  &__mobile--top {
    width: 100%;
    margin-bottom: 2%;
    @include flex(flex-start, flex-start);
    
    @include tablet {
      display: none;
    }
  }
  
  &__mobile--bottom {
    width: 100%;
    height: auto;
    @include flex(flex-start, center);
    flex-direction: column;
    
    @include tablet {
      display: none;
    }
  }
}

.movieInfo__mobile--right {
  width: 65%;
  height: 100%;
  padding-left: 32px;
  @include flex(flex-start, flex-start);
  flex-direction: column;
  
  @include tablet {
    display: none;
  }
}

.movieInfo__title {
  font-size: 3.2rem;
}

.yearGenre-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-top: 16px;
  
  @include tablet {
    width: auto;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  &__genres {
    display: flex;
  }
  
  p {
    margin: 0 3px;
    font-weight: 700;
    font-size: 1.2rem;
    @include wide-mobile {
      font-size: 1.4rem;
    }
    
    @include tablet {
      font-size: 1.6rem;
    }
  }
}

.white-container {
  padding: 3%;
  background-color: white;
  font-size: 1.6rem;
  
  a {
    height: auto;
    display: inline-block;
    color: #1f1f1f;
    font-weight: 300;
    margin: 0 3px;
    &:hover {
        text-decoration: underline;
    }
  }
  
  p {
    font-weight: 700;
  }
}


.crew, .ratings-container {
  margin: 5px 0;
  @include flex(flex-start,center);
  flex-wrap: wrap;
}


.ratings {
    position: relative;
    vertical-align: middle;
    margin-left: 5px;
    // display: inline-block;
    // @include flex(center,center);
    color: #d7d7d7;
    overflow: hidden;
}
.full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #ffd00f;
}
.empty-stars:before, .full-stars:before {
    content:"\2605\2605\2605\2605\2605";
    font-size: 20pt;
}
.empty-stars:before {

    -webkit-text-stroke: 1px #d7d7d7;
}
.full-stars:before {
    -webkit-text-stroke: 1px #ffd00f;
}